@import url('https://fonts.googleapis.com/css2?family=Knewave&family=PT+Sans&display=swap');
#content {max-width: 1600px;}
#content {margin: 0 auto;}
h1 {text-align: center; font-family: Knewave;}
#hero-msg h1 {text-align: center; color: white;}
#hero-msg h4 {text-align: center; font-family: PT Sans; color: white;}
.button-box {text-align: center;}
main section {text-align: center;}
#background {height: 725px; grid-column: 1/11; grid-row: 4/9;}
body {background-color: #219EBC; font-size: 22px; margin: 0; padding: 0;}
header {background-color: #023047; display: grid; grid-template-columns: 150px auto;}
nav a:hover {background-color: black;}
.book, .join {background-color: #FFB703; color: black; text-decoration: none; font-size: 18px; font-family: PT Sans; padding: 15px 30px; margin-top: 50px; border-radius: 5px;} 
nav a {color: white; text-decoration: none; text-align: center; margin: 50px;}
.book:hover, .join:hover {background-color: white; padding: 35px;}
#background {background-color: #023047;}
.msg {background-color: #011f2e; color: #FFB703; line-height: 1.5em; padding: 35px; grid-column: 6/10; grid-row: 6/7; box-shadow: 5px 5px 10px #011f2e;}
footer {background-color: lightblue; padding: 25px 50px; margin-top: 200px; display: flex; justify-content: space-around; align-items: center;}
footer a {color: #023047; text-decoration: none;}
footer a:hover {background-color: white;}
.logo {width: 80px;}
.icon {width: 80px; padding-top: 10px;}
#hero-img {width: 100%;}
footer p {font-size: 1.2em;}
footer p a:hover {text-decoration: underline;}
nav a {font-family: Knewave;}
h2 {font-family: Knewave; margin: 0;}
p {font-family: PT Sans;}
.home-title {font-family: Knewave; font-size: 2em; margin-top: 10px;}
#logo_link {padding-top: 5px; justify-self: center; align-self: center;}
.msg p {font-size: .8em; padding-bottom: 15px;}
footer .social img {padding-top: 15px;}
.rivers-card, .camping-card, .rapids-card {margin: 200px 0;}
.card-img {width: 100%; border: 10px solid black; transition: transform .5s; box-shadow: 5px 5px 10px #011f2e;}
main section img {box-sizing: border-box;}
nav {display: flex; justify-content: space-around;}
#hero {display: grid; grid-template-columns: 1fr 3fr 1fr; margin-top: -100px;}
#hero-box {grid-column: 1/4; grid-row: 1/3; z-index: -1;}
#hero-msg {grid-column: 2/3; grid-row: 1/2; margin-top: 100px;}
.home-grid {display: grid; grid-template-columns: repeat(10, 1fr);}
.rivers-card {grid-column: 2/4; grid-row: 2/3;}
.camping-card {grid-column: 5/7; grid-row: 2/3;}
.rapids-card {grid-column: 8/10; grid-row: 2/3;}
.mountains {width: 100%; grid-column: 2/7; grid-row: 5/8; box-shadow: 5px 5px 10px #011f2e;}
.card-img:hover {opacity: .6; transform: scale(1.1);}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

/* Page 2 (RIVERS) */

.river-img {width: 550px; height: 500px; border: 10px solid black; justify-self: center;}
.main-card {display: grid; grid-template-columns: 1fr 2fr; grid-template-rows: 1fr;}
.main-card p {grid-column: 2/3; grid-row: 1/2; height: 100%; font-size: 1.4em; width: 95%;}
#hfirst {padding-left: 40px;}
.second-card {display: grid; grid-template-columns: 2fr 1fr; grid-template-rows: 1fr;}
#hsecond {margin-left: 1320px;}
.second-card img {grid-column: 2/3;}
.second-card p {grid-column: 1/2; grid-row: 1/2; height: 100%; width: 95%; font-size: 1.4em; justify-self: end;}
.third-card {display: grid; grid-template-columns: 1fr 2fr; grid-template-rows: 1fr;}
.third-card p {grid-column: 2/3; grid-row: 1/2; height: 100%; width: 95%; font-size: 1.4em;}