@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Quicksand&display=swap');
#content {max-width: 1900px;}
#content {margin: 0 auto;}
header {display: grid; text-align: center; padding: 20px; background-color: #655A7C; grid-template-columns: 1fr 1fr 1fr 1fr 1fr;}
.logo {height: 200px; width: 200px; grid-column: 3/4;}
nav a {color: #CEF9F2; text-decoration: none; margin-top: 180px; font-family: cinzel decorative;}
nav {display: flex; justify-content: space-around;}
nav a:hover {background-color: black;}
.gallery {background-color: #AFC1D6; display: grid; grid-template-columns: 1fr 1fr 1fr; padding: 20px;}
.gallery img {height: 500px; width: 600px; justify-self: center;}
#img1 img {height: 350px; width: 500px; margin-top: 90px; margin-left: 80px;}
#img2 img {height: 360px; width: 500px; margin-top: 90px; margin-left: 20px;}
body {background-color: #AB92BF;}
main h1 {text-align: center; font-family: cinzel decorative;}
main p {font-family: quicksand; text-align: center; padding-left: 300px; padding-right: 300px; font-size: 1.7em; padding-bottom: 75px;}
#logo-temps {display: grid; grid-template-columns: 1fr 1fr 1fr; grid-template-rows: 1fr 1fr; justify-items: center;}
#logo-temps img {padding: 25px; height: 500px; width: 500px; padding-bottom: 150px;}
footer {background-color: #655A7C; padding: 25px 50px; margin-top: 200px; display: flex; justify-content: space-around; align-items: center;}
footer a {color: #CEF9F2; text-decoration: none;}
footer p {font-size: 1.2em; color: #CEF9F2; font-family: quicksand;}
footer p a:hover {text-decoration: underline;}
.social img {height: 75px; padding-right: 50px;}


/* Subpage 1 */

.h2 {text-align: center; font-family: cinzel decorative;}
#merchgrid {display: grid; grid-template-columns: 1fr 1fr 1fr; grid-template-rows: 1fr 1fr;}
#hats {grid-column: 1/2;}
#shirts {grid-column: 3/4;}
#hoodies {grid-column: 1/2; grid-row: 2/3; margin-top: -50px;}
#mugs {grid-column: 2/3; grid-row: 2/3; margin-top: -10px;}
#socks {grid-column: 3/4; grid-row: 2/3; margin-top: -50px;}
#hats img, #shirts img, #mugs img {width: 500px; height: 500px;}
#hats img {margin-left: 200px;}
#shirts img {margin-left: -200px;}
#hats h2 {margin-left: 420px; font-family: cinzel decorative;}
#hats p {width: 100%; margin-left: -185px;}
#shirts h2 {margin-left: 5px; font-family: cinzel decorative;}
#shirts p {width: 150%; margin-left: -670px;}
#hoodies img {width: 300px; height: 300px;}
#hoodies img {margin-left: 150px;}
#hoodies h2 {margin-left: 210px; font-family: cinzel decorative;}
#socks h2 {margin-left: 110px; font-family: cinzel decorative;}
#mugs h2 {margin-left: 175px; font-family: cinzel decorative;}
#mugs p {width: 50%; margin-left: -250px;}
#mugs img {margin-left: -50px;}
#socks img {width: 300px; height: 300px; margin-left: 50px;}
#merchgrid {margin-left: 50px;}

/* Subpage 2 */

#hero-img img {width: 100%; height: 800px;}
.home-grid h2 {text-align: center; font-family: cinzel decorative;}
.home-grid h1 {padding-bottom: 100px;}
#designimg {margin-left: 500px;}